img {
    width: 400px;
}
body {
    text-align: center;
    font-family: 'Pacifico';
    background: rgb(18, 79, 70);
    color: rgb(105, 250, 122);
    a{
        color:rgb(241, 171, 231)
    }
    p{overflow-wrap: break-word;}
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

